namespace: agri
image:
  registry: ghcr.io/qudrat111/agri_culture_project
  tag: "13e2a7de0aa58e8bc5f4b577af9f734b5f91b8de"
services:
  order:
    module: procurement-order-service
    name: order
    port: 8081
    replicas: 1
    serviceType: ClusterIP
    env:
      DB_HOST: postgresql
      DB_PORT: "5432"
      DB_USERNAME: postgres
      DB_PASSWORD: postgres
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgresql:5432/agri_procurement
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
      SPRING_JPA_HIBERNATE_DDL_AUTO: validate
      SPRING_FLYWAY_ENABLED: "true"
  saga:
    module: procurement-saga-orchestrator
    name: saga
    port: 8082
    replicas: 1
    serviceType: ClusterIP
    env:
      DB_HOST: postgresql
      DB_PORT: "5432"
      DB_USERNAME: postgres
      DB_PASSWORD: postgres
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgresql:5432/agri_procurement
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
      SPRING_JPA_HIBERNATE_DDL_AUTO: validate
      SPRING_FLYWAY_ENABLED: "true"
  inventory:
    module: procurement-inventory-service
    name: inventory
    port: 8084
    replicas: 1
    serviceType: ClusterIP
    env:
      DB_HOST: postgresql
      DB_PORT: "5432"
      DB_USERNAME: postgres
      DB_PASSWORD: postgres
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgresql:5432/agri_procurement
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
      SPRING_JPA_HIBERNATE_DDL_AUTO: validate
      SPRING_FLYWAY_ENABLED: "true"
  query:
    module: procurement-query-service
    name: query
    port: 8083
    replicas: 1
    serviceType: LoadBalancer
    env:
      MONGODB_URI: mongodb://mongodb:27017/agri_procurement_read
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgresql:5432/agri_procurement
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
      SPRING_JPA_HIBERNATE_DDL_AUTO: validate
      SPRING_FLYWAY_ENABLED: "true"
resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 768Mi
prometheus:
  scrape: true
  path: /actuator/prometheus
